
.mat-toolbar
{
background-color: blue;
height: 80px;
}

.div1
{
background-color:white;
height: 30em;
width: 25em;
border-radius: 10px;
border-style: solid;
border-color: darkcyan;
margin-inline-start: 5em;
margin-top: 7em;
float: left;

}



h2
{
    margin-inline-start: 6em;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.mat-form-field1
{
    margin-inline-start: 5em;
    outline-color: darkcyan;

    
}

.mat-raised-button1
{
    margin-inline-start: 7em;

    background-color: blue;
    height:40px;
    width: 10em;
    color: white;
}

.div2
{
background-color:white;
height: 30em;
width: 25em;
border-radius: 10px;
border-style: solid;
border-color: darkcyan;
margin-inline-start: 2em;
margin-top: 7em;
float: left;

max-height: 30em;
overflow-y: scroll;

}   





.inputwait
{
    
    float: left;
    width: 8em;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin-inline-start: 1em;
    border-radius: 5px;
    
}

.div3
{
background-color:white;
height: 30em;
width: 25em;
border-radius: 10px;
border-style: solid;
border-color: darkcyan;
margin-inline-start: 2em;
margin-top: 7em;
float: left;

max-height: 30em;
overflow-y: scroll;

} 

.timestamp
{

    float: left;
    width: 12em;
    margin-inline-start: 1em;
    border-radius: 5px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: center;

}

.inputselected
{
    
    width: 15em;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin-inline-start: 1em;
    border-radius: 5px;
}



/*<<<---Mobile view--->>>>

////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////
///////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
*/
@media only screen and (max-width: 500px) 
{

    .mat-toolbar
    {
    
        background-color:blue;
        height: 80px;
    }


    .div1
    {
        background-color:white;
        height: 30em;
        width: 20em;
        border-radius: 10px;
        border-style: solid;
        border-color: blue;
        margin-inline-start: 1em;
        margin-top: 5em;
        float: left;

        max-height: 30em;
        overflow-y: scroll;

    }

    .mat-toolbar h2
    {
        margin-inline-start: 5em;
        color: white;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }

    .mat-form-field1
    {
        margin-inline-start: 3.5em;
        outline-color: blue;  
        width: 12em; 
    }

    .mat-raised-button1
    {
        margin-inline-start: 5em;
    
        background-color: blue;
        height:40px;
        width: 9em;
        color: white;
    }

    .div2
    {
        background-color:white;
        height: 30em;
        width: 20em;
        border-radius: 10px;
        border-style: solid;
        border-color: blue;
        margin-inline-start: 1em;
        margin-top: 7em;
        float: left;
    
        max-height: 30em;
        overflow-y: scroll;
    
    } 

    .inputwait
    {
        
        width: 7em;
        margin-inline-start: 1em;
        border-radius: 5px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        font-size: 12px;
        text-align: left;
        
    }

    .timestamp
    {
    
        
        width: 12em;
        margin-inline-start: 1em;
        border-radius: 5px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        text-align: left;
        font-size: 11px;
    
    }

    .div3
    {
        background-color:white;
        height: 30em;
        width: 20em;
        border-radius: 10px;
        border-style: solid;
        border-color: darkcyan;
        margin-inline-start: 1em;
        margin-top: 7em;
        float: left;
    
        max-height: 30em;
        overflow-y: scroll;
    
    }


}