<div class="div1">
  <mat-toolbar>
    <h2>Premier Recycle <br>&nbsp;&nbsp;Truck Waitlist:</h2>
  </mat-toolbar>
  

  <br>
  <br>
  
  <mat-form-field class="mat-form-field1" appearance="outline">
    <mat-label>Driver List</mat-label>
    <mat-select  [(ngModel)]="Category" disableRipple>
        
      <mat-option *ngFor="let value of topics"   value="{{value}}"  >{{value}}</mat-option>
     
    </mat-select>
  </mat-form-field>
  <br>
  <small style="color: red;margin-inline-start: 7em;" *ngIf="errorflag">Please select option </small>
  

<br>
<br>
  <button mat-raised-button  class="mat-raised-button1" type="submit" (click)="fireadd()">Add</button>
  <br>
  <br>
  

</div>



<div class="div2">
  <mat-toolbar>
    <h2 (click)="getfiredata()">Waiting List</h2>
  </mat-toolbar>

  <br>
  <br>
<div *ngFor="let value of list;let i = index;">
  <input matInput class="inputwait" placeholder="&nbsp;{{i+1}}. &nbsp;{{value.firstname}}" disabled>
  <input matInput class="timestamp" placeholder="&nbsp;{{value.timestamp |date:'h:mm a ' }} {{value.timestamp |date }} &nbsp;" disabled>
  <br>
  <br>
  <hr>
</div>

</div>


<div class="div3">
  <mat-toolbar>
    <h2>Selected List</h2>
  </mat-toolbar>
  <br>
  <br>
  <div *ngFor="let value of selected; let i = index; ">
    
    <input matInput class="inputwait" placeholder="&nbsp;{{i+1}}. &nbsp;{{value.firstname}}" disabled>
  <input matInput class="timestamp" placeholder="&nbsp;{{value.timestamp |date:'h:mm a ' }} {{value.timestamp |date }} &nbsp;" disabled>
  
  <br>
  <br>
  <hr>
  </div>

  <br>
  <br>
  

</div>